.main
{
  padding:13px 0 205px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.menu .active a
{
   color: #f80759;
}

.top-nav-collapse 
{
  background: rgba(0, 0, 0, 0.8);
  padding: 25px 0;
}

.header
{
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 20px;
}

.menu-grid
{
   display: flex;
   align-items: center;
}

.logo-content
{
   display: flex;
}

section.contact 
{
   padding: 55px 0 30px;
}

@media (max-width: 991px)
{
  .menu ul li {
    margin-left: 0;
  }
   .dnone 
   {
      display: none;
   }

   .main-header 
   {
      .top_menu_right, nav, ul, li, a
      {
         height: auto;
      }
   }

   .opened
   {
      padding: 0;
      position: absolute;
      width: 100vw;
      top: 90px;
      left: 0;
      ul
      {
         display: flex;
         flex-direction: column;

         .active
         {
            border-bottom: 1px solid #ffffff;
         }

         li 
         {
            background: #000;
            border-bottom: 1px solid #ffffff;
            box-sizing: border-box;

            a
            {
               display: flex;
               justify-content: center;
               padding: 15px 0;

               &:hover
               {
                  color: #fd8a38;
               }
            }

            &:first-child
            {
               border-top: 1px solid #ffffff;
            }
         }
      }
   }
}